@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 17 24 39;
    --color-secondary: 251 251 249;
    --color-accent: 177 143 97;

    /* ... */
  }
}

@font-face {
  font-family: "Garamond";
  src: url('../public/fonts/GaramondPremrPro-Med.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Garamond";
  src: url('../public/fonts/GaramondPremrPro-SmbdSubh.woff');
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 16px;
  @apply bg-secondary;
}

* {
  color: inherit;
  border-color: inherit;
  @apply font-content;
}

section {
  max-width: 1120px;
}

a {
  text-decoration: none;
}

h1 {
  @apply font-normal;
  font-size: 5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  @media screen and (min-width: 768px) {
    font-size: 8rem;
  }
}

h2 {
  font-size: 3rem;
  @apply font-garamond;
  line-height: 1.2;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 32px;
  @apply font-garamond;
  font-weight: 400;
}

.home-padded > div, .home-padded > div:first-child, .home-padded > div:last-child {
  @media screen and (min-width: 1024px) {
    padding-top: 15rem;
    padding-bottom: 8rem;
  }
}
.fixedDom {
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
}

.jeromes {
  * {
    background-size: auto 100%;
    background-position: center;
  }
}
.quoted:before {
  content: "“";
  @apply text-9xl absolute -top-12 -left-6;
  color: #E6DBC8;
}
